<div class="container">

  <div class="row align-items-center justify-content-center" style="height:100vh;">     
    <div>

      <div class="row">
        <button type="button" id="sendlogin" class="btn btn-primary btn-block" (click)="onLoginClick()">
          Login with AWS (Hosted UI)
        </button>
      </div>
      
      <br>

      <div class="row">
        <button type="button" id="sendlogin" class="btn btn-warning btn-block" (click)="onLoginClickOkta()">
          Login with Okta (Federated Identity)
        </button>
      </div>
  
    </div>
  </div>

</div>